.footerLogo{ 
        display: flex;
        justify-content: center;         
}
.svgImg{
    width:200px;
    height:auto;
}
.text-center{
    text-align: center;
}
.footerWrapper{
    background-color:#f4f4f4;
}
.mainDiv{
   padding-top:15px;
   padding-bottom:3px;
}
