.loader-wrapper {
    position: fixed;
    height: 100vh;
    width: 100vw;
    inset: 0;
    z-index: 1300;
    background-color: #ffffff80;
    display: none;
    align-items: center;
    justify-content: center;
  }
  .loader-open .loader-wrapper {
    display: flex;
  }